{{#> layouts/default}}
  {{#*inline "content-body"}}
  <div class="Header">
    <div class="logo">
      <img src="{{assets.logo_img}}" alt="NTQ Solution">
      <h2>We are coming soon</h2>
    </div>

  </div>
  <div class="content_clock">
      <div id="clockdiv">
        <div>
          <span class="days"></span>
          <div class="smalltext">Days</div>
        </div>
        <div>
          <span class="hours"></span>
          <div class="smalltext">Hours</div>
        </div>
        <div>
          <span class="minutes"></span>
          <div class="smalltext">Minutes</div>
        </div>
        <div>
          <span class="seconds"></span>
          <div class="smalltext">Seconds</div>
        </div>
    </div>
  </div>
  <div class="container">
    <div id="subscribe">
      <h3>Subscribe To Get Notified</h3>
      <form action="" method="post" onsubmit="">
        <p><input name="" value="Enter your e-mail" type="email" id=""/>
        <input type="submit" value="Submit"/></p>
      </form>
    </div>
  </div>
  {{/inline}}
{{/ layouts/default}}
