$font_size_heading = 34px
$line_height_heading = 48px

$font_size_sub_heading = 20px
$line_height_sub_heading = 32px

$font_size_large = 16px
$line_height_large = 32px

$font_size_normal = 14px
$line_height_normal = 24px

$font_size_small = 12px
$line_height_small = 24px

$font_size_tiny = 12px
$line_height_tiny = 8px
