h1
  font-size: $font_size_heading
  line-height: $line_height_heading
  color: $color_primary

h2
  font-size: $font_size_sub_heading
  line-height: $line_height_sub_heading
  color: $color_secondary

b, strong
  font-weight: 700

i, em
  font-style: italic

