.break-after
  &:after
    display: block
    content: ''
    height: 16px

.double-break-after
  &:after
    display: block
    content: ''
    height: 32px

.no-break
  white-space: nowrap

.alt-font
  font-family: 'Roboto Mono', 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace

.upper-case
  text-transform: uppercase

.container
  margin: 0 auto
  max-width: 1080px
  padding-left: 16px
  padding-right: 16px
