@require '~style/global'
@require './scene'

.show-off
   height: auto
   display: flex
   justify-content: center

  .circle-container
    z-index: 0
    margin: 64px 0
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-column-gap: 32px
    grid-row-gap: 64px
    justify-content: center
    align-items: center

    @media (min-width: 768px)
      grid-template-columns: repeat(4, 1fr)

    .circle
      min-width: 0
      min-height: 0
      size: 128px
      border-radius: 50%
      background: $color_primary
      display: flex
      justify-content: center
      align-items: center

    &.content
      z-index: 2
      position: absolute
      top: 50%
      left: 50%
      transform: translate3d(-50%, -50%, 0)
      margin: 0

      .circle
        background: transparent

        .step
          size: 124px
          background: $color_white
          border-radius: 50%
          text-transform: uppercase
          text-align: center
          display: flex
          flex-direction: column
          justify-content: center
          align-items: center
          font-family: 'Roboto Mono', monospace

          .number
            font-size: 36px
            line-height: 40px
            color: $color_primary

          .text
            font-size: 12px
            line-height: 16px
            color: $color_secondary

.section
  padding-top: 32px
  padding-bottom: 32px
  text-align: center

  &.intro
    font-size: 22px
    line-height: 40px


  &.footer
    background: $color_black
    color: $color_white
    font-size: 12px
    line-height: 24px

  &.promotion
    background: $color_white
    color: $color_black
    text-align: center

    .offer
      display: inline-block
      padding: 16px 32px
      background: $color_primary
      color: $color_white
      text-decoration: none
      text-transform: uppercase
      font-size: 16px

    .note
      display: block
      font-size: 12px
      color: $color_secondary

.container
  margin: 0 auto
  max-width: 960px
  padding-left: 16px
  padding-right: 16px

.announcement
  position: relative
  z-index: 1
  line-height: 24px
  background: $color_black
  color: $color_white
  font-size: 12px
  padding-left: 8px
  padding-right: 8px
  text-align: center

.header
  background: $color_white
  color: $color_primary
  padding: 16px 0
  text-align: right

  .container
    display: grid
    grid-template-columns: min-content 1fr
    grid-gap: 8px

    .logo
      size: 40px
      background: $color_primary

      &:after
        display: block
        content: ''
        background: $color_white
        size: 24px
        margin: 8px

    .top-nav
      display: inline-block

      li
        display: inline-block
        line-height: 40px
        text-transform: uppercase
        font-size: 12px

        &:not(:last-child)
          padding-right: 16px

        a
          text-decoration: none

.break-after
  &:after
    display: block
    content: ''
    height: 16px

.double-break-after
  &:after
    display: block
    content: ''
    height: 32px
