@require '~style/index'
@require '../header'
@require '../footer'
@require './scene'

.show-off
   height: auto
   display: flex
   justify-content: center

  .circle-container
    z-index: 0
    margin: 64px 0
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-column-gap: 32px
    grid-row-gap: 64px
    justify-content: center
    align-items: center

    @media (min-width: 768px)
      grid-template-columns: repeat(4, 1fr)

    .circle
      min-width: 0
      min-height: 0
      size: 128px
      border-radius: 50%
      background: $color_primary
      display: flex
      justify-content: center
      align-items: center

    &.content
      z-index: 2
      position: absolute
      top: 50%
      left: 50%
      transform: translate3d(-50%, -50%, 0)
      margin: 0

      .circle
        background: transparent

        .step
          size: 124px
          background: $color_white
          border-radius: 50%
          text-transform: uppercase
          text-align: center
          display: flex
          flex-direction: column
          justify-content: center
          align-items: center

          .number
            font-size: $font_size_heading
            line-height: $line_height_heading
            color: $color_primary

          .text
            font-size: $font_size_tiny
            line-height: $line_height_tiny
            color: $color_secondary

.section
  padding-top: 48px
  padding-bottom: 32px
  text-align: center

  &.intro
    font-size: $font_size_large
    line-height: $line_height_large

    .conclusion
      color: $color_secondary
      font-size: $font_size_sub_heading
      line-height: $line_height_sub_heading

  &.pricing
    background: $color_primary
    color: $color_white

    .purpose
      font-size: $font_size_heading
      line-height: $line_height_heading
      text-transform: uppercase

    .price
      position: relative
      display: grid
      width: min-content
      margin: 0 auto 96px auto
      grid-template-columns: 48px min-content 48px
      align-items: end

      .value
        display: inline-block
        font-size: 80px
        line-height: 80px
        height: 80px
        position: relativeR

      .prefix, .postfix
        font-size: $font_size_small
        line-height: $line_height_small

      .prefix
        text-align: right

      .postfix
        text-align: left

      .beta-price
        position: absolute
        display: flex
        justify-content: center
        align-items: center
        top: -8px
        left: -8px
        right: -8px
        bottom: -8px
        background: alpha($color_black, 0.8)
        color: $color_white
        transform: rotate(-5deg)
        text-transform: uppercase
        outline: 1px solid transparent

        .free
          font-size: 80px
          line-height: 80px

        .beta
          font-size: $font_size_tiny
          line-height: $line_height_tiny
          position: absolute
          right: 4px
          bottom: 4px

    .feature-intro
      font-size: $font_size_sub_heading
      line-height: $line_height_sub_heading

    .feature-list
      display: grid
      grid-template-columns: 1fr
      grid-column-gap: 32px
      grid-row-gap: 64px
      grid-auto-rows: 1fr
      width: min-content
      margin: 32px auto

      @media (min-width: 768px)
        grid-template-columns: repeat(2, 1fr)

      .feature
        min-width: 0
        min-height: 0
        width: 288px

        .feature-illu
          size: 96px
          margin: 0 auto
          display: flex
          justify-content: center
          align-items: center
          margin-bottom: 32px

          img
            max-width: 100%
            max-height: 100%

        .feature-name
          text-transform: uppercase
          font-size: $font_size_large
          line-height: $line_height_large

        .feature-description
          font-size: $font_size_small
          line-height: $line_height_small

  &.remind
    font-size: $font_size_large
    line-height: $line_height_large

    .offer
      display: inline-block
      padding: 8px 32px
      background: $color_primary
      color: $color_white
      text-decoration: none
      text-transform: uppercase
      font-size: $font_size_large
      line-height: $line_height_large

    .note
      display: block
      font-size: $font_size_small
      line-height: $line_height_small
      color: $color_secondary

  &.promotion
    background: $color_white
    color: $color_black
    text-align: center

    .offer
      display: inline-block
      padding: 8px 32px
      background: $color_primary
      color: $color_white
      text-decoration: none
      text-transform: uppercase
      font-size: $font_size_large
      line-height: $line_height_large

    .note
      display: block
      font-size: $font_size_small
      line-height: $line_height_small
      color: $color_secondary
