@require '~style/global'
@require './scene'

.show-off
   height: auto
   display: flex
   justify-content: center

  .circle-container
    z-index: 0
    margin: 64px 0
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-column-gap: 32px
    grid-row-gap: 64px
    justify-content: center
    align-items: center

    @media (min-width: 768px)
      grid-template-columns: repeat(4, 1fr)

    .circle
      min-width: 0
      min-height: 0
      size: 128px
      border-radius: 50%
      background: $color_primary
      display: flex
      justify-content: center
      align-items: center

    &.content
      z-index: 2
      position: absolute
      top: 50%
      left: 50%
      transform: translate3d(-50%, -50%, 0)
      margin: 0

      .circle
        background: transparent

        .step
          size: 124px
          background: $color_white
          border-radius: 50%
          text-transform: uppercase
          text-align: center
          display: flex
          flex-direction: column
          justify-content: center
          align-items: center

          .number
            font-size: $font_size_heading
            line-height: $line_height_heading
            color: $color_primary

          .text
            font-size: $font_size_tiny
            line-height: $line_height_tiny
            color: $color_secondary

.section
  padding-top: 48px
  padding-bottom: 32px
  text-align: center

  &.intro
    font-size: $font_size_large
    line-height: $line_height_large

    .conclusion
      color: $color_secondary
      font-size: $font_size_sub_heading
      line-height: $line_height_sub_heading

  &.pricing
    background: $color_primary
    color: $color_white

    .purpose
      font-size: $font_size_heading
      line-height: $line_height_heading
      text-transform: uppercase

    .price
      display: relative
      display: grid
      width: min-content
      margin: 0 auto 96px auto
      grid-template-columns: 48px min-content 48px
      align-items: end

      .value
        display: inline-block
        font-size: 80px
        line-height: 80px
        height: 80px
        position: relativeR

      .prefix, .postfix
        font-size: $font_size_small
        line-height: $line_height_small

      .prefix
        text-align: right

      .postfix
        text-align: left

      .beta-price
        position: absolute
        display: flex
        justify-content: center
        align-items: center
        top: -16px
        left: -16px
        right: -16px
        bottom: -16px
        background: alpha($color_black, 0.8)
        color: $color_white
        transform: rotate(-5deg)
        text-transform: uppercase

        .free
          font-size: 80px
          line-height: 80px

        .beta
          font-size: $font_size_tiny
          line-height: $line_height_tiny
          position: absolute
          right: 4px
          bottom: 4px

    .feature-intro
      font-size: $font_size_sub_heading
      line-height: $line_height_sub_heading

    .feature-list
      display: grid
      grid-template-columns: 1fr
      grid-column-gap: 32px
      grid-row-gap: 64px
      grid-auto-rows: 1fr
      width: min-content
      margin: 32px auto

      @media (min-width: 768px)
        grid-template-columns: repeat(2, 1fr)

      .feature
        min-width: 0
        min-height: 0
        width: 288px

        .feature-illu
          size: 96px
          margin: 0 auto
          display: flex
          justify-content: center
          align-items: center
          margin-bottom: 32px

          img
            max-width: 100%
            max-height: 100%

        .feature-name
          text-transform: uppercase
          font-size: $font_size_large
          line-height: $line_height_large

        .feature-description
          font-size: $font_size_small
          line-height: $line_height_small

  &.remind
    font-size: $font_size_large
    line-height: $line_height_large

    .offer
      display: inline-block
      padding: 8px 32px
      background: $color_primary
      color: $color_white
      text-decoration: none
      text-transform: uppercase
      font-size: $font_size_large
      line-height: $line_height_large

    .note
      display: block
      font-size: $font_size_small
      line-height: $line_height_small
      color: $color_secondary

  &.footer
    background: $color_black
    color: $color_white
    font-size: $font_size_small
    line-height: $line_height_small
    padding-top: 8px
    padding-bottom: 8px

  &.promotion
    background: $color_white
    color: $color_black
    text-align: center

    .offer
      display: inline-block
      padding: 8px 32px
      background: $color_primary
      color: $color_white
      text-decoration: none
      text-transform: uppercase
      font-size: $font_size_large
      line-height: $line_height_large

    .note
      display: block
      font-size: $font_size_small
      line-height: $line_height_small
      color: $color_secondary

.container
  margin: 0 auto
  max-width: 960px
  padding-left: 16px
  padding-right: 16px

.header
  background: $color_white
  color: $color_primary
  padding: 16px 0
  text-align: right

  .container
    display: grid
    grid-template-columns: min-content min-content 1fr
    grid-gap: 16px
    align-items: center

    .home-link
      display: flex
      text-decoration: none
      text-transform: uppercase

    .logo
      size: 24px
      background: $color_primary

      &:after
        display: block
        content: ''
        background: $color_white
        size: 16px
        margin: 4px

    .top-nav
      display: flex
      margin-left: auto

      li
        display: inline-block
        line-height: 40px
        text-transform: uppercase
        font-size: $font_size_small
        line-height: $line_height_small

        a
          display: inline-block
          padding: 0 8px

          &.primary
            background: $color_primary
            color: $color_white
            text-decoration: none
