$scene_height = 128px

@keyframes falling-4 {
  from {
    transform: translateY(-12px)
  }

  to {
    transform: translateY($scene_height + 8px)
  }
}

@keyframes falling-8 {
  from {
    transform: translateY(-16px)
  }

  to {
    transform: translateY($scene_height + 8px)
  }
}

@keyframes falling-16 {
  from {
    transform: translateY(-24px)
  }

  to {
    transform: translateY($scene_height + 8px)
  }
}

@keyframes falling-32 {
  from {
    transform: translateY(-40px)
  }

  to {
    transform: translateY($scene_height + 8px)
  }
}

@keyframes falling-64 {
  from {
    transform: translateY(-72px)
  }

  to {
    transform: translateY($scene_height + 8px)
  }
}

@keyframes falling-128 {
  from {
    transform: translateY(-132px)
  }

  to {
    transform: translateY($scene_height + 8px)
  }
}

.section-scene
  position: relative
  background: $color_white

  .top-line
    position: absolute
    top: 0
    left: 0
    height: 2px
    width: 100%
    background: $color_primary
    z-index: 0

  .bottom-line
    position: absolute
    bottom: 0
    left: 0
    height: 2px
    width: 100%
    background: $color_primary
    z-index: 0

  .scene
    position: relative
    height: $scene_height
    overflow: hidden
    z-index: 1

    .layer
      position: relative
      size: 100%

      & > *
        display: none
        position: absolute
        top: 0
        left: 0
        background: $color_white
        transition: opacity .2s
        border: 2px solid $color_primary
