@require '~style/global'

.section-scene
  position: relative
  background: $color_white

  .top-line
    position: absolute
    top: 0
    left: 0
    height: 1px
    width: 100%
    background: $color_primary
    z-index: 0

  .bottom-line
    position: absolute
    bottom: 0
    left: 0
    height: 1px
    width: 100%
    background: $color_primary
    z-index: 0

  .scene
    position: relative
    height: 150px
    overflow: hidden
    z-index: 1

    .layer
      position: relative
      size: 100%

      .block
        position: absolute
        background: $color_white
        transition: opacity .2s
        border: 1px solid $color_primary


  .intro
    position: absolute
    top: 40px
    left: 50%
    transform: translateX(-50%)
    background: rgba(17, 17, 17, 0.7)
    min-width: 288px
    height: 128px
    text-align: center
    color: $color_white

.section-promotion
  background: $color_white
  color: $color_black
  padding-top: 48px
  padding-bottom: 48px
  text-align: center

  h1
    font-size: 24px
    font-weight: bold
    line-height: 40px
    color: $color_primary

  h2
    font-size 20px
    line-height: 24px
    color: $color_secondary

.container
  margin: 0 auto
  max-width: 960px
  padding-left: 16px
  padding-right: 16px

.announcement
  position: relative
  z-index: 1
  line-height: 24px
  background: $color_black
  color: $color_white
  font-size: 12px
  padding-left: 8px
  padding-right: 8px
  text-align: center

.header
  background: $color_white
  color: $color_primary
  padding: 16px 0
  text-align: right

  .top-nav
    display: inline-block

    li
      display: inline-block
      line-height: 40px
      font-weight: bold

      &:not(:last-child)
        padding-right: 8px

      a
        text-decoration: none
        border-bottom: 1px solid $color_primary

.break-after
  &:after
    display: block
    content: ''
    height: 16px
