@require '~style/global'

#scene
  position: absolute
  top: 0
  width: 300px
  right: 0
  height: 300px
  background: #07f
  overflow: hidden

  .blocks
    position: relative
    height: 300px

    .block
      position: absolute
      width: 48px
      height: 48px
      border: 8px solid #fff
