meyer-reset()
box-sizing-reset()
normalize()

*
  -webkit-tap-highlight-color: transparent

span
p
  line-height: 25px

html, body
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif
  // overflow-x: hidden
  overflow-x: visible
  height: 100%
  min-width: 200px
  font-size: 16px

body
  -webkit-overflow-scrolling: touch

a
  text-decoration: none
  font-weight: bold

pre
  overflow-x: auto

.container
  height: auto
  background: transparent

  .container-center
    max-width: $container-max-w
    margin: auto

