meyer-reset()
box-sizing-reset()
normalize()

$media-mobile-w = 480px
$media-tablet-w = 768px
$container-max-w = 1200px
$color-blue = #0066b3
$color-blue-white = #4ba6dd
$color-gray = #999
$light-gray = #EEEEEE
$white = #FFFFFF

html, body
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif
  overflow-x: hidden
  height: 100%
  min-width: 200px

a
  text-decoration: none
  font-weight: bold

.container
  height: auto
  background: transparent

  .container-center
    max-width: $container-max-w
    margin: auto

@require './header'

.header-wraper
  background-color: $light-gray

.body-wraper
  min-height: 144.77px
  min-width: 300px
  display: flex
  background: url('~img/bg/contact.jpg') no-repeat center center
  background-size: cover
  height: 560px
  @media screen and (max-width: $media-tablet-w)
    height: 344.77px

  @media screen and (max-width: $media-mobile-w)
    height: 144.77px

  .container-center
    flex-grow: 1
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap
    flex-direction: column
    text-align: center
    padding-bottom: 15px

    .body-wraper-title
      font-weight: bold
      text-transform: uppercase
      color: $color-blue

    .body-wraper-title-size
      font-size: 40px
      text-shadow: 0 0 2px #000

    .container-center-label
      font-size: 24px
      color: white
      font-weight: bold
      text-shadow: 0 0 2px #000

      @media screen and (max-width: $media-mobile-w)
        font-size: 18px

.contact-container
  background-color: $light-gray
  padding: 25px 0 25px 0

  .container-center
    display: flex
    flex-direction: row

    @media screen and (max-width: $media-tablet-w)
      flex-direction: column

    .contact-wraper-item
      padding: 10px
      display: flex

      .contact-wraper-input
      .contact-wraper-map-box
        .contact-header-text
          color: $color-blue
          font-weight: bold
          font-size: 22px
          padding: 20px 0 15px 0
          letter-spacing: 1px

    .contact-wraper-form
      flex-grow: 2
      flex-basis: 100%

      .contact-wraper-input
        min-width: 300px
        flex-grow: 1
        align-self: stretch
        display: flex
        flex-direction: column

        .contact-form
          flex-grow: 1
          display: flex
          flex-direction: column
          padding-right: 50px

          @media screen and (max-width: $media-tablet-w)
            flex-direction: column
            padding-right: 0

          .contact-form-input
            border-radius: 10px
            border: none
            min-width: 300px
            height: 35px
            padding-left: 20px
            padding-right: 20px
            margin-bottom: 10px

          .contact-form-area
            flex: 1
            resize: none
            padding-top: 15px

            @media screen and (max-width: $media-tablet-w)
              padding-top: 10.5px

          .contact-form-submit
            min-width: 90px
            width: 90px
            height: 25px
            margin-top: 10px
            font-size: 16px
            line-height: 25px
            text-transform: uppercase
            font-weight: bold
            color: white
            background-color: $color-blue
            border: none
            text-overflow: ellipsis
            border-radius: 2000px

    .contact-wraper-map
      flex-grow: 1
      flex-basis: 50%

      .contact-wraper-map-box
        align-self: stretch

        .contact-wraper-map-title
          .company-address
            line-height: 20px
            padding-bottom: 20px

            .company-name
              font-weight: bold

        #map-canvas
          min-width: 300px
          height: 200px

      .addres-button-hidden
        margin-top: 20px
        width: 90px
        height: 25px
        visibility: hidden

        @media screen and (max-width: $media-tablet-w)
          display: none

@require './footer'
