$media-mobile-w = 480px
$media-tablet-w = 768px
$container-max-w = 1200px
$color-blue = #0066b3
$color-blue-white = #4ba6dd
$color-gray = #999
$light-gray = #EEEEEE

.footer
  background: black
  height: auto

  .container-footer-center
    padding-top: 30px
    padding-bottom: 30px
    display: flex

    .footer-wraper
      text-align: center
      flex-grow: 1
      max-width: 1300px
      display: flex
      flex-wrap: wrap
      padding-left: 10px
      padding-right: 10px

      .bottom-container
        display: flex
        color: white
        flex-wrap: wrap
        align-items: center
        flex-grow: 1
        justify-content: center
        padding-top: 20px
        padding-bottom: 20px

      .bottom-logo
        width: 150px

        .bottom-logo-img
          width: 130px
          height: 100px

      .bottom-menu-wraper-box
        .bottom-menu-box
          height: 30px

        .bottom-menu
          display: flex
          flex-wrap: nowrap
          align-items: center
          justify-content: center
          flex-grow: 1

          .bottom-menu-item
            flex-grow: 1
            display: flex
            flex-wrap: nowrap
            align-items: center
            justify-content: center
            padding-left: 10px
            padding-right: 10px

            @media screen and (max-width: $media-mobile-w)
              padding-left: 4px
              padding-right: 4px

            .bottom-menu-item-a
              line-height: 30px
              color: #fff

              @media screen and (max-width: $media-tablet-w)
                font-size: 15px
                line-height: 20px

              @media screen and (max-width: $media-mobile-w)
                font-size: 10px
                line-height: 16px

              &:hover
                color: $color-blue

      .bottom-icon
        display: flex
        flex-wrap: wrap
        align-items: center
        flex-grow: 1
        justify-content: center

        .bottom-icon-box
          display: flex
          line-height: 30px

          .bottom-icon-img
            height: 30px
            padding-left: 20px
            padding-right: 20px

.footer-license
  display: flex
  text-align: center

  @media screen and (max-width: $media-mobile-w)
    font-size: 8px

  .footer-license-p
    max-width: $container-max-w
    display: flex
    lign-items: center
    flex-grow: 1
    justify-content: space-around
    height: 50px
    line-height: 50px
    font-size: 18px
    color: #fff
    background-color: $color-blue

    @media screen and (max-width: $media-mobile-w)
      font-size: 13px
