@require './variable'
@require './common'
@require './header'

.container
  .container-center
    .header-bottom
      padding: 70px 0 0 10px
      height: 60%

      .header-text, .lean-more
        color: white
        font-weight: bold
        text-transform: uppercase

      .header-text
        padding-top 10px
        margin-top: 20px
        letter-spacing: 1px
        text-shadow: 0px 0px 2px black
        font-size: 60px
        line-height: 80px
        text-overflow: ellipsis
        margin: left

        @media screen and (max-width: 1200px)
          font-size: 40px
          line-height: 50px

        @media screen and (max-width: $media-tablet-w)
          font-size: 25px
          line-height: 35px

      .lean-more
        margin-top: 20px
        background: $color-blue
        border-radius: 2000px
        font-size: 24px
        text-align: center
        line-height: 50px
        width: 250px
        height: 50px
        display: block
        &:hover
          background: $color-blue-white

.container-full-screen
  height: 100%
  background: url('~img/bg/bg_home_header.jpg') no-repeat center center
  background-size: cover

  @media screen and (max-width: $media-tablet-w)
    height: auto

  .container-center
    height: 100%

    @media screen and (max-width: $media-tablet-w)
      height: auto
      padding-bottom: 30px

.container
  .feature
    text-align: center
    display: flex
    flex-wrap: wrap
    flex-grow: 1
    padding-bottom: 30px

    .container-center-box
      display: flex
      flex-wrap: wrap
      flex-grow: 1

      .feature-info
        padding-top: 30px
        flex-grow: 1
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between

        .feature-info-container
          .feature-box-img-wrapper
            width: 260px
            padding-bottom: 20px

            .feature-box-img
              margin: auto
              height: 100px
              width: 100px

          .feature-info-box
            width: 260px

            .feature-info-box-title
              font-weight: bold
              padding-bottom: 10px

            .feature-info-box-label
              font-size: 16px
              padding-left: 5px
              padding-right: 5px

        .feature-info-box-link
          padding-top: 15px
          color: $color-blue

          &:hover
            border-bottom: 1px solid $color-blue

  .what-new-wrapper
    flex-direction: column

    .what-new
      flex-grow: 1
      flex-wrap: nowrap

    .what-new-title
      margin: auto
      font-weight: bold
      text-transform: uppercase
      font-size: 25px
      height: 120px
      line-height: 120px
      text-align: center

      @media screen and (max-width: $media-mobile-w)
        font-size: 19px
        height: 80px
        line-height: 80px

    .what-new-image-wrapper
      display: flex
      flex-wrap: wrap
      flex-grow: 1

      @media screen and (max-width: $media-tablet-w)
        flex-direction: column

      .what-new-image-box
        flex-grow: 1
        padding-bottom: 10px
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: center



        .what-new-image
          width: 250px
          padding: 0 5px 0 5px

        .what-new-image-detail
          // padding-top: 20px
          height: 60px
          line-height: 60px
          font-weight: bold
          text-transform: uppercase

.maps
  background: $light-gray
  padding-bottom: 10px
  display: block

  @media screen and (max-width: $media-tablet-w)
    padding-bottom: 15px

  .container-center
    text-align: center

    .maps-label
      display: flex
      height: 100px

      .maps-p
        font-size: 19px
        line-height: 25px
        margin: auto
        padding: 0 10px 0 10px

    .maps-background-wrapper
      background: url('~img/bg/home_maps.svg') no-repeat center
      background-size: contain
      margin: auto
      height: 50vh

      @media screen and (max-width: $media-tablet-w)
        height: 30vh

      @media screen and (max-width: $media-mobile-w)
        height: 20vh

    .maps-footer
      margin: auto
      // height: 100px
      display: flex
      padding-top: 30px

      .maps-footer-text
        margin: auto
        width: 250px
        height: 100px
        display: flex

        .maps-footer-p
          margin: auto
          // height: 70px

          .maps-span-value
            font-size: 25px
            font-weight: bold

          .maps-span-small
            margin-top: 10px
            font-size: 17px
            font-weight: normal

@require './collaborator'

@require './subscribe'

@require './footer'

/* Desktop support */
// body.no-touch
//   button:hover
//     color: black
