@require './space-mono'

meyer-reset()
box-sizing-reset()
normalize()

html, body
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif
  overflow-x: hidden
  height: 100%
  min-width: 200px

a
  text-decoration: none
  font-weight: bold

.container
  height: auto
  background: transparent

  .container-center
    max-width: 1150px
    margin: auto

    .header-top
      height: 150px
      display: flex
      align-items: center
      justify-content: center

      .header-item
        // height: 150px

      .header-logo-wraper
        width: 150px
        display: flex
        // padding-top: 30px
        align-items: flex-start
        justify-content: center

        .header-logo
          width: 120px

      .header-menu
        flex-grow: 1
        display: flex
        flex-wrap: nowrap
        align-items: center
        justify-content: flex-end

        .menu
          flex-grow: 1
          display: flex
          // align-items: center
          // justify-content: center
          height: 50px

          .top-menu
            flex-grow: 1
            display: flex
            flex-wrap: nowrap
            align-items: center
            justify-content: center
            text-align: center

            .menu-item
              flex-shrink: 2
              flex-grow: 1
              display: flex
              align-items: center
              justify-content: center

              .menu-item-a
                flex-grow: 1
                line-height: 50px
                height: 50px
                color: black

                @media screen and (max-width: 768px)
                  font-size: 15px
                  line-height: 20px
                  height: 20px

                &:hover
                  color: #0066b3
                  // height: 20px
                  border-bottom: 1px solid blue

              .menu-item-bigger
                flex-shrink: 1


          @media screen and (max-width: 768px)
            display: none

        .menu-mobile
          width: 200px
          display: flex
          justify-content: flex-end
          align-items: flex-end
          // background-color: #0063AF

          .menu-mobile-box
            max-width: 400px
            display: flex
            justify-content: flex-end
            align-items: flex-end
            flex-direction: column
            padding-top: 70px
            padding-bottom: 10px
            padding-right: 30px

            .menu-mobile
              flex-grow: 1
              display: flex
              visibility:hidden
              flex-direction: column

              // &:hover
              //   background-color: none

              .menu-item
                line-height: 30px

                .menu-item-a
                  color: #fff

                  &:hover
                    border-bottom: 1px solid #fff

            .menu-mobile-checkbox
              margin-top: 50px
              margin-bottom: 30px
              width: 50px
              height: 50px
              background-color: #fff

              // &:checked ~ .menu-mobile
              //   background-color: red

              &:checked ~ .menu-mobile
                visibility: visible

          @media screen and (min-width: 768px)
            display: none



    .header-bottom
      padding: 70px 0 0 10px
      height: 60%

      .header-text, .lean-more
        color: #fff
        font-weight: bold
        text-transform: uppercase

      .header-text
        padding-top 10px
        margin-top: 20px
        letter-spacing: 1px
        text-shadow: 0px 0px 2px black
        font-size: 60px
        line-height: 80px
        text-overflow: ellipsis

        margin: left

        @media screen and (max-width: 1200px)
          font-size: 40px
          line-height: 50px

        @media screen and (max-width: 768px)
          font-size: 25px
          line-height: 35px

      .lean-more
        margin-top: 20px
        background: #00b4f4
        border-radius: 2000px
        font-size: 24px
        text-align: center
        line-height: 50px
        width: 250px
        height: 50px
        display: block

        &:hover
          background: #4ba6dd

.container-full-screen
  height: 100%
  background: url('~img/bg/bg_home_header.png') no-repeat center center
  background-size: cover

  .container-center
    height: 100%

.container
  .feature
    text-align: center
    display: flex
    flex-wrap: wrap
    flex-grow: 1
    align-items: center
    justify-content: center

    .container-center-box
      display: flex
      flex-wrap: wrap
      flex-grow: 1

      .feature-info
        height: 360px
        flex-grow: 1
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

        .feature-box-img-wraper
          width: 260px
          height: 180px
          display: flex

          .feature-box-img
            margin: auto
            height: 100px
            width: 100px

        .feature-info-box
          width: 260px
          height: 180px

          .feature-info-box-title
            font-weight: bold
            height: 20px

          .feature-info-box-label
            height: 100px
            font-size: 13px
            padding-left: 5px
            padding-right: 5px

    .what-new
      flex-grow: 1
      flex-wrap: wrap

    .what-new-title
      margin: auto
      font-weight: bold
      text-transform: uppercase
      font-size: 25px
      height: 120px
      line-height: 120px

      @media screen and (max-width: 480px)
        font-size: 19px
        height: 80px
        line-height: 80px

    .what-new-image-wraper
      display: flex
      flex-wrap: wrap
      flex-grow: 1

      .what-new-image-box
        // height: 220px
        flex-grow: 1
        padding-bottom: 40px

        .what-new-image
          width: 300px
          padding: 0px 50px 0 50px

        .what-new-image-title
          padding-top: 20px
          height: 80px
          line-height: 80px
          font-weight: bold

  .trusted
    display: flex
    flex-direction: column
    padding-bottom: 40px

    .trusted-item
      flex-grow: 1
      display: flex
      justify-content: center
      align-items: center

      .trusted-title-p
        font-size: 30px
        font-weight: bold
        text-transform: uppercase

    .trusted-title
      height: 120px

    .trusted-box
      height: 100px
      display: flex
      // flex-wrap: nowrap
      flex-direction: rows
      justify-content: center
      align-items: center

      .trusted-box-item
        flex-grow: 1
        display: flex
        flex-wrap: nowrap
        flex-direction: rows
        justify-content: center
        align-items: center

      .trusted-box-images
        overflow-x: hidden


        .trusted-image-wraper
          display: flex
          justify-content: center
          align-items: center
          flex-grow: 1

          .trusted-image
            flex-grow: 1
            padding: 0 10px 0 10px

      .trusted-button
        width: 100px
        height: 100px

        .trusted-button-item
          width: 50px
          height: 50px
          border: none
          background-size: cover
          outline: none

          &:hover
            transform: scale(1.2)

          &:active
            translateY(4px)
            background-color: #EEEEEE

        .btn_left
          background: url('~img/icon/previous.png') no-repeat center

        .btn_right
          background: url('~img/icon/next.png') no-repeat center

.maps
  background: #EEEEEE
  padding-bottom: 40px
  display: block

  .container-center
    text-align: center

    .maps-label
      display: flex
      height: 100px

      .maps-p
        font-size: 19px
        line-height: 25px
        margin: auto

    .maps-background-wraper
      background: url('~img/bg/bg_home_maps.jpg') no-repeat center
      background-size: contain
      margin: auto
      // max-width: 1200px
      height: 50vh

    .maps-footer
      margin: auto
      // max-width: 1000px
      height: 100px
      display: flex

      .maps-footer-text
        margin: auto
        width: 250px
        height: 100px
        display: flex

        .maps-footer-p
          margin: auto
          height: 70px

          .maps-span-value
            font-size: 25px
            font-weight: bold

          .maps-span-small
            margin-top: 10px
            font-size: 17px
            font-weight: normal

.subscribe
  background: #EEEEEE
  height: auto
  display: flex

  .subscribe-wraper
    display: flex
    flex-direction: rows
    align-items: center
    justify-content: center
    flex-grow: 1
    flex-wrap: wrap
    background: url('~img/bg/bg_home_subscribe.png') no-repeat right 100px center
    background-size: 180px 100px

    .subscribe-wraper-item
      padding: 0 10px 0 10px
      height: 150px
      display: flex
      align-items: center
      justify-content: space-around

      @media screen and (max-width: 768px)
        height: 80px

    .subscribe-text

      .subscribe-text-p
        font-size: 40px
        color: #0063AC
        flex-grow: 1
        // padding-left: 40px
        font-style: italic
        letter-spacing: 1.5px

    .subscribe-input
      flex-direction: rows

      .subscribe-input-item
        outline: none
        flex-grow: 1
        border: 1px solid #999
        border-radius: 5px
        font-style: italic
        font-size: 16px
        background: #fff
        cursor: pointer
        height: 35px

      input[type=email]
        width: 250px

        @media screen and (max-width: 480px)
          width: 200px

      input[type=submit]
        color: #999

        &:hover
          color: #0066b3

.footer
  background: #000
  height: auto

  .container-footer-center
    padding-top: 30px
    padding-bottom: 30px
    display: flex
    margin: auto

    .footer-wraper
      text-align: center
      margin: auto
      max-width: 1300px
      display: flex
      flex-wrap: wrap
      padding-left: 10px
      padding-right: 10px

      .bottom-container
        display: flex
        color: #fff
        flex-wrap: wrap
        align-items: center
        flex-grow: 1
        justify-content: center
        padding-top: 20px
        padding-bottom: 20px


      .bottom-logo
        width: 150px

        .bottom-logo-img
          width: 130px
          height: 100px

      .bottom-menu-wraper-box
        .bottom-menu-box
          height: 30px

        .bottom-menu
          display: flex
          flex-wrap: nowrap
          align-items: center
          flex-grow: 1
          justify-content: center


          .bottom-menu-item
            display: flex
            flex-wrap: wrap
            align-items: center
            flex-grow: 1
            justify-content: center
            padding-left: 10px
            padding-right: 10px

            @media screen and (max-width: 480px)
              padding-left: 4px
              padding-right: 4px

            .bottom-menu-item-a
              // font-size: 18px
              height: 30px
              line-height: 30px
              color: #fff

              @media screen and (max-width: 768px)
                font-size: 15px
                line-height: 20px

              @media screen and (max-width: 480px)
                font-size: 10px
                line-height: 16px

              &:hover
                color: #0066b3

      .bottom-icon
        display: flex
        flex-wrap: wrap
        align-items: center
        flex-grow: 1
        justify-content: center

        .bottom-icon-box
          height: 20px
          height: 30px
          line-height: 30px

          .bottom-icon-img
            padding-left: 20px
            padding-right: 20px

.footer-license
  display: inline
  text-align: center

  .footer-license-p
    width: 50%
    height: 50px
    float: left
    line-height: 50px
    font-size: 15px
    color: #fff
    background-color: #0064B2
