meyer-reset()
box-sizing-reset()
normalize()

$media-mobile-w = 480px
$media-tablet-w = 768px
$container-max-w = 1200px
$color-blue = #0066b3
$color-blue-white = #4ba6dd
$color-gray = #999
$light-gray = #EEEEEE
$white = #FFFFFF

html, body
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif
  overflow-x: hidden
  height: 100%
  min-width: 200px

a
  text-decoration: none
  font-weight: bold

.container
  height: auto
  background: transparent

  .container-center
    max-width: $container-max-w
    margin: auto

@require './header'

.container
  .container-center
    .header-bottom
      padding: 70px 0 0 10px
      height: 60%

      .header-text, .lean-more
        color: white
        font-weight: bold
        text-transform: uppercase

      .header-text
        padding-top 10px
        margin-top: 20px
        letter-spacing: 1px
        text-shadow: 0px 0px 2px black
        font-size: 60px
        line-height: 80px
        text-overflow: ellipsis
        margin: left

        @media screen and (max-width: 1200px)
          font-size: 40px
          line-height: 50px

        @media screen and (max-width: $media-tablet-w)
          font-size: 25px
          line-height: 35px

      .lean-more
        margin-top: 20px
        background: $color-blue
        border-radius: 2000px
        font-size: 24px
        text-align: center
        line-height: 50px
        width: 250px
        height: 50px
        display: block
        &:hover
          background: $color-blue-white

.container-full-screen
  height: 100%
  background: url('~img/bg/bg_home_header.jpg') no-repeat center center
  background-size: cover

  @media screen and (max-width: $media-tablet-w)
    height: auto

  .container-center
    height: 100%

    @media screen and (max-width: $media-tablet-w)
      height: auto
      padding-bottom: 30px

.container
  .feature
    text-align: center
    display: flex
    flex-wrap: wrap
    flex-grow: 1
    align-items: center
    justify-content: center

    .container-center-box
      display: flex
      flex-wrap: wrap
      flex-grow: 1

      .feature-info
        height: 360px
        flex-grow: 1
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

        .feature-box-img-wraper
          width: 260px
          height: 180px
          display: flex

          .feature-box-img
            margin: auto
            height: 100px
            width: 100px

        .feature-info-box
          width: 260px
          height: 160px

          .feature-info-box-title
            font-weight: bold
            height: 20px

          .feature-info-box-label
            height: 100px
            font-size: 16px
            padding-left: 5px
            padding-right: 5px

          .feature-info-box-link
            padding-bottom: 10px

            &:hover
              border-bottom: 1px solid $color-blue

    .what-new
      flex-grow: 1
      flex-wrap: wrap

    .what-new-title
      margin: auto
      font-weight: bold
      text-transform: uppercase
      font-size: 25px
      height: 120px
      line-height: 120px

      @media screen and (max-width: $media-mobile-w)
        font-size: 19px
        height: 80px
        line-height: 80px

    .what-new-image-wraper
      display: flex
      flex-wrap: wrap
      flex-grow: 1

      .what-new-image-box
        flex-grow: 1
        padding-bottom: 40px
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: center

        .what-new-image
          width: 320px
          flex-grow: 1
          padding: 0px 50px 0 50px

        .what-new-image-detail
          padding-top: 20px
          height: 80px
          line-height: 80px
          font-weight: bold
          text-transform: uppercase

.maps
  background: $light-gray
  padding-bottom: 40px
  display: block

  .container-center
    text-align: center

    .maps-label
      display: flex
      height: 100px

      .maps-p
        font-size: 19px
        line-height: 25px
        margin: auto
        padding: 0 10px 0 10px

    .maps-background-wraper
      background: url('~img/bg/home_maps.svg') no-repeat center
      background-size: contain
      margin: auto
      height: 50vh

    .maps-footer
      margin: auto
      height: 100px
      display: flex

      .maps-footer-text
        margin: auto
        width: 250px
        height: 100px
        display: flex

        .maps-footer-p
          margin: auto
          height: 70px

          .maps-span-value
            font-size: 25px
            font-weight: bold

          .maps-span-small
            margin-top: 10px
            font-size: 17px
            font-weight: normal

@require './collaborator'

@require './subscribe'

@require './footer'

/* Desktop support */
// body.no-touch
//   button:hover
//     color: black
