$media-mobile-w = 480px
$media-tablet-w = 768px
$container-max-w = 1200px
$color-blue = #0066b3
$color-blue-white = #4ba6dd
$color-gray = #999
$light-gray = #EEEEEE

.subscribe
  background: $light-gray
  height: auto
  display: flex

  .subscribe-wrapper
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-around
    flex-grow: 1
    flex-wrap: wrap
    background: url('~img/bg/home_subscribe.svg') no-repeat right 10px center
    background-size: 180px 100px

    @media screen and (max-width: $media-tablet-w)
      flex-direction: column
      align-items: stretch

    .subscribe-wrapper-item
      padding: 0 10px 0 10px
      height: 150px
      display: flex
      align-items: center
      justify-content: space-around

      @media screen and (max-width: $media-tablet-w)
        height: 80px

    .subscribe-text
      flex-grow: 1
      text-align: center

      .subscribe-text-p
        font-size: 40px
        color: $color-blue
        flex-grow: 1
        font-style: italic
        letter-spacing: 1.5px

    .subscribe-input
      flex-direction: row
      outline: none
      flex-grow: 2

      @media screen and (max-width: $media-tablet-w)
        align-items: flex-start
        text-align: center
        padding-top: 10px

      .subscribe-form-wrapper
        width: 100%

        .subscribe-input-item
          outline: none
          border: 1px solid $color-gray
          border-radius: 5px
          font-style: italic
          font-size: 16px
          background: white
          cursor: pointer
          height: 35px

        .subscribe-input-item-email
          min-width: 250px
          padding: 0 10px 0 10px
          width: 60%

          @media screen and (max-width: $media-tablet-w)
            min-width: 200px

          &::placeholder
            font-style: italic
            color: #D4D4D4

          &:focus::placeholder
            color: $color-gray

        .subscribe-input-item-submit
          color: $color-gray

          &:hover
            color: $color-blue
