$media-mobile-w = 480px
$media-tablet-w = 768px
$container-max-w = 1200px
$color-blue = #0066b3
$color-blue-white = #4ba6dd
$color-gray = #999
$color-gainsboro = #DEDEDE
$light-gray = #EEEEEE
$white = #FFFFFF
