<div class="knowledge-search-wrapper-result" >
  <div class="knowledge-search-wrapper-result-box">
    <span id="knowledge-search-wrapper-result-box-value">{{post.title}}</span><br/>
    <span>{{post.updated_at}}</span>
  </div>
</div>
