<div class="container knowledge-base">
  <div class="container-center">
    <span class="knowledge-base-label">Knowledge base resources</span>
    <span class="knowledge-base-title">Find answers, guides, turorials and more to supercharge your content delivery.</span>
    <form method="" action="" class="knowledge-base-form" id="">
      <input class="knowledge-base-input" type="text" name="search" placeholder="Search the knowledge base">
    </form>
  </div>
</div>
<div class="knowledge-search">
  <div class="knowledge-search-wrapper" id="knowledge-search-wrapper">
    {{!-- <div class="knowledge-search-wrapper-result" >
      <div class="knowledge-search-wrapper-result-box">
        <span id="knowledge-search-wrapper-result-box-value"></span>
      </div>
    </div> --}}

  </div>
  <div class="knowledge-search-pagging">
    <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
    </ul>
  </div>
</div>
