<div class="header-top">
  <div class="header-item header-logo-wraper">
    <a href="/">
      <img class="header-logo" src="{{assets.header_logo}}" alt="NTQ Solution">
    </a>
  </div>
  <div class="header-item header-menu">
    {{> partials/top-menu.hbs}}
    {{> partials/top-menu-phone.hbs}}
  </div>
</div>

