<div class="container subscribe">
  <div class="subscribe-wraper container-center">
    <div class="subscribe-wraper-item subscribe-text">
      <label class="subscribe-text-p">{{labels.subscribe.title}}</label>
    </div>
    <div class="subscribe-wraper-item subscribe-input">
      <form action="" method="post" target="_blank">
        <input class="subscribe-input-item subscribe-input-item-email" type="email" name="email" id="email" value="" placeholder="Enter your email" required="true"/>
        <input class="subscribe-input-item subscribe-input-item-submit" type="submit" value="Subscribe">
      </form>
    </div>
  </div>
</div>
