<div class="menu">
  <ul class="top-menu">
    <li class="menu-item">
      <a class="menu-item-a" href="#">FEATURES</a>
    </li>
    <li class="menu-item">
      <a class="menu-item-a" href="#">PRICING</a>
    </li>
    <li class="menu-item">
      <a class="menu-item-a" href="#">ABOUT</a>
    </li>
    <li class="menu-item">
      <a class="menu-item-a" href="#">CONTACT</a>
    </li>
    <li class="menu-item menu-item-bigger">
      <a class="menu-item-a" href="#">KNOWLEDGE BASE</a>
    </li>
  </ul>
</div>
