{{#> layouts/default}}
  {{#*inline "content-body"}}
    <div class="container header-wrapper">
      <div class="container-center">
        {{> partials/header.hbs}}
      </div>
    </div>

    {{> pages/knowledge-base/base.hbs}}
    <div class="container knowledge-base-body">
      <div class="knowledge-base-body-menu">
        <div class="knowledge-base-body-menu-center">
          <a class="knowledge-base-body-menu-center-home" href="/knowledge-base">Home</a>&#62;<span class="knowledge-base-body-menu-center-home-linked">Getting Started</span>
        </div>
      </div>
      <div class="container-center knowledge-base-body-wrapper">
        <div class="knowledge-base-body-wrapper-label">
          <span>Getting started</span>
        </div>
        <div class="knowledge-base-body-wrapper-content">
          <div class="knowledge-base-body-wrapper-content-left">
            <span>1</span>
          </div>
          <div class="knowledge-base-body-wrapper-content-right">
            <span>2</span>
          </div>
        </div>
      </div>
    </div>
    {{> pages/knowledge-base/base-search.hbs}}

    {{> partials/footer.hbs}}
  {{/inline}}
{{/ layouts/default}}
