{{#> layouts/default}}
  {{#*inline "content-body"}}
    <div class="container header-wraper">
      <div class="container-center">
        {{> partials/header.hbs}}
      </div>
    </div>

    <div class="container body-wraper">
      <img class="contact-img" src={{assets.contact_img}} alt="contact-img">
      <div class="container-center">
        <h1 class="body-wraper-title body-wraper-title-size">contact us</h1>
        <p class="container-center-label">Questions? Check our <span class="body-wraper-title">FAQ </span>and <span class="body-wraper-title">Knowledge Base</span></p>
      </div>
    </div>

    <div class="container contact-container">
      <div class="container-center">
        <div class="contact-wraper-item contact-wraper-form">
          <div class="contact-wraper-input">
            <p class="contact-header-text">Get In Touch</p>
            <form class="contact-form" action="" method="post">
              <input class="contact-form-input" type="text" name="title" placeholder="Title">
              <input class="contact-form-input" type="text" name="name" placeholder="Name">
              <input class="contact-form-input" type="email" name="email" placeholder="Email">
              <input class="contact-form-input" type="text" name="company" placeholder="Company">
              <textarea class="contact-form-input contact-form-area"  placeholder="Message"></textarea>
            </form>
          </div>
          <input class="contact-form-submit" type="submit" name="submit" value="SEND">
        </div>
        <div class="contact-wraper-item contact-wraper-map">
          <div class="contact-wraper-map-box">
            <p class="contact-header-text">Address</p>
            <div class="contact-wraper-map-title">
              <p class="company-adress">
                <span class="company-name">NTQ Solution</span><br/><br/>
                6th & 11th Floor, Sudico Building, Me Tri Street, Ha Noi, Viet Nam <br/><br/>
                Email: sale@medianetwork-ntq.com <br/>
                Phone: (+84) 241 625 2145
              </p>
            </div>
            <div id="map-canvas"></div>
            <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false" type="text/javascript"></script>
          </div>
          <div class="addres-button-hidden"></div>
        </div>
      </div>

    </div>
    {{> partials/footer.hbs}}
  {{/inline}}
{{/ layouts/default}}
