{{#> layouts/default}}
  {{#*inline "content-body"}}
    <div class="container header-wraper">
      <div class="container-center">
        {{> partials/header.hbs}}
      </div>
    </div>

    <div class="container body-wraper">
      <img class="contact-img" src={{assets.contact_img}} alt="contact-img">
      <div class="container-center">
        <h1 class="body-wraper-title">contact us</h1>
        <p class="body-wraper-title" >Questions? Check our FAQ and Knowledge Base</p>
      </div>
    </div>

    <div class="container contact-container">
      <div class="container-center">
        <div class="contact-wraper-item contact-wraper-form">
          <p>Get In Touch</p>
          <form class="contact-form" action="" method="post">
            <input class="contact-form-input" type="text" name="title" placeholder="Title">
            <input class="contact-form-input" type="text" name="name" placeholder="Name">
            <input class="contact-form-input" type="email" name="email" placeholder="Email">
            <input class="contact-form-input" type="text" name="company" placeholder="Company">
            <textarea class="contact-form-input contact-form-area"  placeholder="Message"></textarea>
            <input class="contact-form-input contact-form-submit" type="submit" name="submit" value="SEND">

          </form>
        </div>
        <div class="contact-wraper-item contact-maps">
          <div class="contact-maps-title">
              <span class="contact-maps-title-span">Address</span>
              <span class="contact-maps-title-span">NTQ Solution</span>
              <span class="contact-maps-title-span">6th & 11th Floor, Sudico Building, Me Tri Street, Ha Noi, Viet Nam</span>
              <span class="contact-maps-title-span">Email: sale@medianetwork-ntq.com</span>
              <span class="contact-maps-title-span">Phone: (+84) 241 625 2145</span>
          </div>
          <div id="map-canvas"></div>
          <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false" type="text/javascript"></script>

        </div>
      </div>

    </div>
    {{> partials/footer.hbs}}
  {{/inline}}
{{/ layouts/default}}
