@require './variable'

.knowledge-base
  background-color: $light-gray

  .container-center
    display: flex
    flex-direction: column
    text-align: center
    padding: 50px 20px

    ^[0]-label
      flex-grow: 1
      text-transform: uppercase
      font-weight: bold
      font-size: 40px
      line-height: 40px
      color: $color-blue
      padding-bottom: 20px

      @media screen and (max-width: $media-tablet-w)
        font-size: 30px

      @media screen and (max-width: $media-mobile-w)
        font-size: 24px
        line-height: 26px

    ^[0]-title
      flex-grow: 1
      font-size: 22px
      padding-bottom: 30px

      @media screen and (max-width: $media-mobile-w)
        font-size: 18px

    ^[0]-form
      flex-grow: 1

      ^[0]-input
        width: 60%
        min-width: 260px
        height: 40px
        box-sizing: border-box
        border: none
        border-radius: 4px
        font-size: 16px
        background-color: white
        background-image: url('~img/icon/searchicon.svg')
        background-position: 14px 12px
        background-repeat: no-repeat
        background-size: 16px
        padding: 12px 20px 12px 40px
        transition: width 0.4s ease-in-out
        outline: none

        &::placeholder
          color: #D4D4D4

        &[placeholder]
          text-overflow:ellipsis

.knowledge-search
  display: block
  display: none

  &-wrapper
    display: block
    padding: 30px 0

    &-result
      max-width: $container-max-w
      height: 100px
      margin: auto
      display: flex

      &:nth-child(even)
        background: $light-gray

      &-box
        flex-grow: 1
        padding-left: 110px
        padding-top: 10px
        padding-bottom: 10px
        background: url('~img/icon/file.svg') no-repeat left 0px center
        background-size: 120px 80px

  &-pagging
    padding: 30px 0
    max-width: $container-max-w
    margin: auto

    ul
      display: flex
      padding-left: 30px

      @media screen and (max-width: $media-tablet-w)
        padding-left: 0
        justify-content: center

      li
        padding: 3px
        margin: 0 3px
        background-color: black
        color: $white
