@require './variable'
@require './common'
@require './header'

.header-wrapper
  background-color: $light-gray

@require '../knowledge-base'

.knowledge-base-body
  background-color: $white

  &-menu
    border-bottom: thick solid $color-gray

    &-center
      padding-left: 20px
      padding-right: 20px
      max-width: $container-max-w
      margin: auto
      height: 40px
      line-height: 40px

      &-home
        color: black
        padding-right: 20px

      &-home-linked
        color: $color-blue
        padding-left: 20px

  &-wrapper
    display: block

    &-label
      padding-left: 20px
      padding-right: 20px
      height: 40px
      font-weight: bold
      vertical-align: bottom
      display: table-cell
      text-transform: uppercase

    &-content
      padding-left: 20px
      padding-right: 20px
      // border: 1px solid red
      display: flex
      flex-direction: row

      @media screen and (max-width: $media-tablet-w)
        flex-direction:  column

      &-left
        // border: 1px solid red
        flex-grow: 2
        max-width: 70%

      &-right
        background-color: $color-gray
        flex-grow: 1

        #knowledge-base-body-wrapper-content-right-ul
          padding-left: 30px
          display: block
          flex-direction: column


          #knowledge-base-body-wrapper-content-right-li
            padding-bottom: 10px
            padding-top: 30px
            text-transform: uppercase

            a
              color: black
              font-weight: normal

          .current-directory
            border-bottom: 2px solid $color-blue
            display:inline-block
            padding-bottom:2px

      &-right
      &-left
        // padding-top: 10px
        padding-bottom: 20px

@require './footer'
