@require './variable'
@require './common'
@require './header'

$width = 15px
$height = 15px
$bounce_height = 30px
$colorOrange = #fbae17

.header-wrapper
  background-color: $light-gray

@require '../knowledge-base'

.knowledge-base-body
  background-color: $white

  &-menu
    border-bottom: thick solid $color-gray

    &-center
      padding-left: 20px
      padding-right: 20px
      max-width: $container-max-w
      margin: auto
      height: 40px
      line-height: 40px

      &-home
        color: black
        padding-right: 20px

      &-home-linked
        color: $color-blue
        padding-left: 20px

  &-wrapper
    display: block

    &-content
      padding-top: 20px
      padding-left: 20px
      padding-right: 20px
      display: flex
      flex-direction: row

      @media screen and (max-width: $media-tablet-w)
        flex-direction:  column
        padding-bottom: 20px

      &-left
        flex-grow: 2
        max-width: 70%
        display: flex
        flex-direction: column

        @media screen and (max-width: $media-tablet-w)
          max-width: none

        &-title
          padding-bottom: 5px
          font-size: 30px

        &-time
          font-style: italic
          padding-bottom: 20px
          align-self: right
          padding-right: 20px
          white-space: nowrap
          // align-self: flex-end

        .kg-card-markdown
          padding-right: 20px
          padding-bottom: 30px

        &-time
        .kg-card-markdown
          @media screen and (max-width: $media-tablet-w)
            padding-right: 0

          p
          a
          li
            font-size: 17px

          a
            color: black
            border-bottom: 1px solid $color-blue

          img
          iframe
            width: 100%

          ul
            list-style: disc
            padding-left: 1.3em
            padding-right: 1.5em

            li
              word-break: break-word
              margin: 1em 0
              line-height: 25px

              code
                padding: 0 5px 2px
                font-size: .8em
                line-height: 1em
                font-weight: 400!important
                background: #e5eff5
                border-radius: 3px

          code
            padding: 0 5px 2px
            font-size: .8em
            line-height: 1em
            font-weight: 400!important
            background: #e5eff5
            border-radius: 3px

          h2
            margin: .5em 0 .2em
            font-size: 30px
            font-weight: 700

            @media screen and (max-width: $media-tablet-w)
              font-size: 1.9rem

          h3
            margin: .5em 0 .2em
            font-size: 23px
            font-weight: 700
            line-height: 1.15
            text-rendering: optimizeLegibility

            @media screen and (max-width: $media-tablet-w)
              font-size: 1.6rem

          ol
            list-style: decimal
            padding-left: 1.3em
            padding-right: 1.5em

            li
              margin: .5em 0
              padding-left: .3em
              line-height: 1.6em
              word-break: break-word

          blockquote
            margin: 0 0 1.5em
            padding: 0 1.5em
            border-left: 3px solid $color-blue

            p
              font-style: italic

          hr
            height: 1px
            border: 0
            border-top: 1px solid #e3e9ed
            margin: 30px 0

          pre
            padding-bottom: 20px

        .kg-card-markdown > p
          padding-bottom: 30px

          @media screen and (max-width: $media-tablet-w)
            padding-bottom: 20px


      &-right
        position: sticky
        top: 0
        background-color: $light-gray
        flex-grow: 1
        align-self: flex-start

        @media screen and (max-width: $media-tablet-w)
          align-self: auto

        &-ul
          padding-left: 30px
          display: block
          flex-direction: column


          &-li
            padding-bottom: 5px
            padding-top: 30px
            padding-right: 10px
            text-transform: uppercase

            a
              color: black
              font-size: 18px


          ^[-1]-child-ul
            padding-left: 20px
            padding-right: 20px
            display:flex
            flex-direction: column
            align-items: flex-start

            @media screen and (max-width: $media-tablet-w)
              padding-right: 0

            &-li
              padding: 15px 0

              &:hover
                border-bottom: 1px solid blue

              a
                color: black
                font-weight: normal
                font-size: 18px
                line-height: 24px

      &-right
      &-left
        // padding-top: 10px
        padding-bottom: 20px

  .loading-wrapper
    display: flex
    align-items: baseline
    justify-content: center
    height: 100vh
    padding-top: 50px

    .bounceball
      position: relative
      display: inline-block
      height: 37px
      width: $width

      &:before
        position: absolute
        content: ''
        display: block
        top: 0
        width: $width
        height: $height
        border-radius: 50%
        background-color: $colorOrange
        transform-origin: 50%
        animation: bounce 500ms alternate infinite ease

    .text
      color: $colorOrange
      display: inline-block
      margin-left: 5px

@keyframes bounce
  0%
    top: $bounce_height
    height: 5px
    border-radius: 60px 60px 20px 20px
    transform: scaleX(2)

  35%
    height: $height
    border-radius: 50%
    transform: scaleX(1)

  100%
    top: 0



@require './footer'
