<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Media Network</title>
  </head>
  <body>
    {{#> content-body}}
    {{/content-body}}
  </body>
</html>
