<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg" href="{{assets.logo}}">
    {{!-- <title></title> --}}
    <title>
      {{#if title}}
        {{title}}
      {{else}}
        Media Network
      {{/if}}
    </title>
  </head>
  <body>
    {{#> content-body}}
    {{/content-body}}
  </body>
</html>
