{{#> layouts/default}}
  {{#*inline "content-body"}}
    <div class="container header-wrapper">
      <div class="container-center">
        {{> partials/header.hbs}}
      </div>
    </div>

    {{> pages/knowledge-base/base.hbs}}
     <div class="container knowledge-base-body">
      <div class="knowledge-base-body-menu">
        <div class="knowledge-base-body-menu-center">
          <a class="knowledge-base-body-menu-center-home" href="/knowledge-base">Home</a>&#62;<span class="knowledge-base-body-menu-center-home-linked">Developer Guide</span>
        </div>
      </div>
      <div class="container-center knowledge-base-body-wrapper" id="knowledge-base-body-wrapper">
      </div>
    </div>

    {{> partials/footer.hbs}}
  {{/inline}}
{{/ layouts/default}}
